:root{
    --darkred: #C1121F;
    --lightred: #C1121F;
    --darkblue: #003049;
    --lightblue: #669BBC;
    --lightgray:#F4F4F4;
    --darkgray: #767676;
    --common-light: #ffffff;
    --common-dark: #111111;
}