@import url('../../assets/css/colors.css');
.footer{
  display: none;

}
@media (min-width:1000px){
    .footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2%;
    height: 10vh;
    gap: 15%;
    bottom: 0;
    position: fixed;
    width: 90%;
    }
    .footerLogoContainer{
        width: 8rem;
    }
    .footerList{
        list-style: none;
        display: flex;
        justify-content: space-around;
        gap: 10%;
        flex-wrap: nowrap;
        white-space: nowrap;
    }
    .footerLogo{
        width: 100%;
    }
    .footerLinkDefault{
        color: var(--darkgray);
        font-weight: 100;
        cursor: pointer;
    }
    .footerLinkDarkBlue{
        color: var(--darkblue);
        font-weight: 200;
        cursor: pointer	;
    }
    .footerSocialMedia{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        gap: 15%;
    }
}
