@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Nunito');

:root {
  font-family: 'Lilita One', cursive;
  font-family: 'Nunito', sans-serif;
  

  font-synthesis: weight;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-width: 320px;
  min-height: 100vh;
}

